{% extends 'base.html' %}

{% block title %}Manage Orders | GlowHub{% endblock %}

{% block content %}
<div class="checkout-form">
    <h2>Manage Orders</h2>

    <form method="GET" action="{% url 'manage_orders' %}">
        <input type="text" name="q" placeholder="Search by ID..." value="{{ query }}">
        
        <select name="status" onchange="this.form.submit()">
            <option value="all" {% if selected_status == 'all' %}selected{% endif %}>All Status</option>
            {% for s in status %}
                <option value="{{ s }}" {% if s == selected_status %}selected{% endif %}>{{ s|capfirst }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn">Search</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.email }}</td>
                <td>{{ order.date }}</td>
                <td>{{ order.status|capfirst }}</td>
                <td>
                    <a href="{% url 'edit_order' order.id %}" class="btn">Edit</a>
                    <a href="{% url 'delete_order' order.id %}" class="btn">Delete</a>
                </td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No orders available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{% url 'admin_dashboard' %}">&larr; Back to Dashboard</a>
</div>
{% endblock %}